<div class="wrapper">
	this is home
	<div class="box-header">
		<p class="tagline">The Crazy Plate Lady</p>
	</div>

	<div class="wrapper--flex">
		<div class="col--two">
			
		</div>
		<div class="col--two">
			<div class="subtitle">
				<h2 class="text-right">Plates</h2>
			</div>
			<h3>Featured Work</h3>
		</div>
	<!-- </div> -->

	<!-- <div class="wrapper--flex"> -->
		<div class="col--two">
		  <div class="box box1">1</div>
		  <div class="box box2">2</div>
		  <div class="box box3">3</div>
		</div>
		<div class="col--two">
		  <div class="box box4">4</div>
		  <div class="box box5">5</div>
		  <div class="box box6">6</div>
		</div>
	</div>

	<div class="wrapper--flex">
		<div class="col--two">
			<div class="subtitle">
				<h2>Biography</h2>
			</div>
			<h3 class="text-right">About Me</h3>
		</div>
		<div class="col--two">
		</div>
		<div class="col--two">
			<div class="box-with-after"></div>
		</div>
		<div class="col--two">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cum, quos, aperiam temporibus distinctio unde dolorem in quam ducimus blanditiis non modi nulla quo, numquam nobis dignissimos obcaecati enim sint.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quaerat provident, laudantium quo optio omnis hic exercitationem molestias quia nam maxime nemo laborum quasi molestiae, ducimus. Praesentium animi assumenda totam molestiae, officiis voluptas nihil commodi quas quaerat quibusdam, dolores itaque repudiandae ipsum veniam, cupiditate sequi.</p>
		</div>
	</div>

	<div class="wrapper--flex">
		<div class="col--two">
			
		</div>
		<div class="col--two">
			<div class="subtitle">
				<h2 class="text-right">Workshops</h2>
			</div>
			<h3>upcomming workshops</h3>
		</div>
		<div class="col--two">
		  <div class="box box1">1</div>
		  <div class="box-with-after">2</div>
		</div>
		<div class="col--two">
		  <div class="box-with-after box-with-after-reverse">4</div>
		  <div class="box box4">5</div>
		</div>
	</div>

	<div class="wrapper--flex">
		<div class="col--two">
			<div class="subtitle">
				<h2>Press</h2>
			</div>
			<h3 class="text-right">Most Recent Press</h3>
		</div>
		<div class="col--two">
		</div>
		<div class="wrapper--flex-reverse">
			<div class="col--two">
				<div class="subtitle">
					<h3 class="text-right">Notable</h3>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et officia quo, veritatis repellat perspiciatis ullam vero eum minus, tempora molestias reiciendis excepturi suscipit aut nisi!</p>
			</div>
			<div class="col--two">
				<div class="box-with-after box-with-after-reverse">notable</div>
			</div>
			
		</div>	
		<div class="wrapper--flex">
			
			<div class="col--two">
				<div class="subtitle">
					<h3>Morgan Freeman</h3>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis praesentium sint quia aliquid deserunt molestiae ipsum quam, quasi autem eum porro ratione sit exercitationem, delectus!</p>
			</div>
			<div class="col--two">
				<div class="box-with-after box-with-after-upper">morgan</div>
			</div>
		</div>

		<div class="wrapper--flex-reverse">
			<div class="col--two">
				<div class="subtitle">
					<h3 class="text-right">The Chic Canuck</h3>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et officia quo, veritatis repellat perspiciatis ullam vero eum minus, tempora molestias reiciendis excepturi suscipit aut nisi!</p>
			</div>
			<div class="col--two">
				<div class="box-with-after box-with-after-reverse">canuck</div>
			</div>	
			
		</div>

</div>
