$darkgrey : #231F1F
$darkgrey2 : #58595B
$lightgrey : #99A19F
$lightgrey2 : #B8B8B8
$lightgrey3 : #F0EFEF

$red : #EF0612
$pink : #FCECE6
$transgold : rgba(224,175,29,0.8)

$title-font : 'Lato', sans-serif
$body-font : 'Lato', sans-serif
$hl-font : 'Roboto', sans-serif